.page {
    min-height: 100vh;
    background: #eef2f5;
    padding-bottom: 100px;
    font-family: system-ui, sans-serif;
}

/* HEADER */
.header {
    height: 70px;
    background: linear-gradient(135deg, #162a57, #1f3c88);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.header h3 {
    font-size: 16px;
    font-weight: 600;
}

.circle-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-btn {
    background: rgba(255,255,255,0.15);
    color: white;
}

.save-btn {
    background: #e8a93c;
    color: white;
}

/* LOADER */
.progress-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: rgba(0,0,0,0.08);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}

.progress-container.active {
    opacity: 1;
    visibility: visible;
}

.progress-bar {
    width: 60%;
    height: 100%;
    background: linear-gradient(90deg,#162a57,#4facfe,#00c6ff);
    animation: move 1.8s infinite;
}

@keyframes move {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(200%); }
}

/* FORM */
.form-container {
    padding: 12px;
}

/* CARD */
.card {
    background: white;
    border-radius: 15px;
    padding: 14px;
    margin-bottom: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.04);
}

.card h4 {
    color: #162a57;
    font-size: 15px;
    margin-bottom: 10px;
}

.card label {
    font-size: 12px;
    color: #777;
    margin-top: 10px;
    display: block;
}

/* INPUT */
.card input {
    width: 100%;
    border: none;
    background: #f6f8fc;
    padding: 12px;
    border-radius: 10px;
    outline: none;
    font-size: 14px;
    margin-top: 5px;
}

/* LIGNE FACTURE */
.line-card {
    background: #f9fafc;
    border: 1px solid #e8edf3;
    border-radius: 14px;
    padding: 12px;
    margin-bottom: 10px;
}

.line-card small {
    font-weight: 600;
    color: #162a57;
}
.line-card input{
    background-color: white!important;
}

.row {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.row div {
    flex: 1;
}

.line-total {
    text-align: right;
    margin-top: 10px;
    color: #e8a93c;
    font-weight: bold;
}

/* ADD LINE */
.add-line-btn {
    width: 100%;
    height: 44px;
    border: 2px dashed #cfd6e4;
    background: transparent;
    border-radius: 14px;
    color: #162a57;
    font-size: 13px;
}

/* TOTAL */
.total-card {
    color: black;
    padding: 14px;
    border-radius: 16px;
    text-align: right;
    font-weight: 600;
}

/* FIXED BUTTON */
// .add-facture-btn {
//     position: fixed;
//     bottom: 10px;
//     left: 12px;
//     right: 12px;
//     height: 52px;
//     border: none;
//     border-radius: 16px;
//     background: linear-gradient(135deg, #162a57, #2948a3);
//     color: white;
//     font-weight: 600;
//     font-size: 15px;
//     box-shadow: 0 8px 20px rgba(22,42,87,0.25);
// }

/* ERROR */
.input-error {
    border: 2px solid #e74c3c !important;
    background: #fff5f5 !important;
}