.page {
  background: #eef2f6;
  min-height: 100vh;
  padding-bottom: 100px;
  font-family: Arial, sans-serif;
}

/* HEADER */
.header {
  background: linear-gradient(180deg, #162447, #1f3c6d);
  padding: 20px;
  color: white;
}

.header h2 {
  margin-bottom: 10 px;
}
.top{
  display: flex;
  justify-content: space-between;
}

/* SEARCH */
.search {
  background: rgba(255,255,255,0.15);
  border-radius: 20px;
  padding: 8px 15px;
}

.search input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: white;
}

.search input::placeholder {
  color: rgba(255,255,255,0.7);
}

/* FILTERS */
.filters {
  display: flex;
  gap: 10px;
  padding: 15px;
  margin-top: -30px;
  justify-content: center;
}

.filters button {
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  background: #e4e7ec;
  font-size: 12px;
}

.filters .active {
  background: #0d1b2a;
  color: white;
}

/* LIST */
.list {
  padding: 0 15px;
}

.item {
  background: white;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 8px rgba(0,0,0,0.05);
}

.top {
  display: flex;
  gap: 10px;
  align-items: center;
}

.item p {
  font-size: 10px;
  color: gray;
  margin: 5px;
}

.badge {
  background: #d4edda;
  color: #2ecc71;
  padding: 3px 8px;
  border-radius: 10px;
  font-size: 9px;
}

.right {
  text-align: right;
}

.arrow {
  width: 20px;
  display: block;
  color: gray;
}

/* FLOAT BUTTON */
.fab {
  position: fixed;
  bottom: 90px;
  right: 20px;
  width: 60px;
  height: 60px;
  background: #f5a623;
  border-radius: 50%;
  border: none;
  color: white;
  font-size: 28px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

// la suppression multiple
.select-btn,
.delete-btn {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
}

.select-btn {
  background: #162a57;
  color: white;
}

.delete-btn {
  background: #e74c3c;
  color: white;
}

.selected-card {
  background: #ffebeb;
  border: 2px solid #e74c3c;
  transform: scale(0.98);
}

.check-area {
  margin-right: 10px;
}