<div class="page">

  <!-- HEADER -->
  <div class="header py-4">
    <div class="top">
      <h3>Factures</h3>
      <div class="top-actions">
        <button class="select-btn" (click)="toggleSelectionMode()">
          {{ selectionMode ? 'Annuler' : 'Sélectionner' }}
        </button>

        <!-- suppression multiple -->
        <button *ngIf="selectedFactures.length > 0" class="delete-btn" (click)="deleteSelected()">
          🗑 {{ selectedFactures.length }}
        </button>
      </div>
    </div>


    <div class="search">
      <input type="text" placeholder="Rechercher client ou n°..." [(ngModel)]="searchTerm" (input)="applyFilter()" />
    </div>

  </div>

  <!-- FILTERS -->
  <div class="filters">
    <button (click)="setFilter('TOUTES')" [ngClass]="{ 'active': activeFilter === 'TOUTES' }">
      Toutes
    </button>

    <button (click)="setFilter('NON_PAYE')" [ngClass]="{ 'active': activeFilter === 'NON_PAYE' }">
      Non payé
    </button>

    <button (click)="setFilter('PARTIELLEMENT_PAYE')" [ngClass]="{ 'active': activeFilter === 'PARTIELLEMENT_PAYE' }">
      Partiel
    </button>

    <button (click)="setFilter('PAYE')" [ngClass]="{ 'active': activeFilter === 'PAYE' }">
      Payé
    </button>
  </div>

  <!-- LIST -->
  <div class="list">
    <div class="item" *ngFor="let f of filteredFactureList | paginate: { itemsPerPage: 8, currentPage: p } " [ngClass]="{
    'selected-card': isSelected(f.id)
  }" (click)="openDetail(f.id)">

      <!-- checkbox visible seulement en mode sélection -->
      <div *ngIf="selectionMode" class="check-area">
        <input type="checkbox" [checked]="isSelected(f.id)" (change)="toggleSelection(f.id)" />
      </div>

      <div class="left">
        <div class="top">
          <strong>{{ f.nomClient }}</strong>
          <span class="badge">{{ f.numero }}</span>
        </div>
        <!-- si enligne -->
        <p *ngIf="isOnline">{{ f.numeroFacture }} · {{ f.dateFacture }}</p>
        <!-- si offline -->
        <p *ngIf="!isOnline">{{ f.tempId }} · {{ f.date }}</p>
      </div>

      <div class="right">
        <strong>{{ f.total | number }} FCFA</strong>
      </div>

      <div>
        <span class="arrow">›</span>
      </div>


    </div>
    <div class="text-center py-5" *ngIf="filteredFacture?.length === 0">

      <p *ngIf="isOnline">
        Aucune facture disponible !
      </p>

      <p *ngIf="!isOnline">
        Pas de factures hors ligne !
      </p>

    </div>
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>



  <!-- FLOAT BUTTON -->
  <button class="fab" (click)="add()">+</button>

</div>