 <main class="main-content">
        <router-outlet></router-outlet>
    </main>
    <!-- ===================== -->
<!-- OFFLINE BANNER -->
<!-- ===================== -->

<div
  class="offline-banner" (click)="hide()"

  *ngIf="showOfflineBanner"
>

  <div class="offline-content">

    <div class="wifi-icon">
      📡
    </div>

    <div>

      <h4>Mode hors ligne</h4>

      <p>
        Vérifiez votre connexion Internet
      </p>

    </div>

  </div>

</div>
  
<div class="bottom-nav" *ngIf="simpleUser==true">

  <div class="nav-item" routerLink="/nav/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <i class="icon">🏠</i>
    <span>Accueil</span>
  </div>

  <div class="nav-item" routerLink="/nav/factures" routerLinkActive="active">
    <i class="icon">📄</i>
    <span>Factures</span>
  </div>

  <div class="nav-item" routerLink="/nav/client" routerLinkActive="active">
    <i class="icon">👥</i>
    <span>Clients</span>
  </div>

  <div class="nav-item" routerLink="/nav/profile" routerLinkActive="active">
    <i class="icon">⚙️</i>
    <span>Profil</span>
  </div>

</div>


 <!-- pour l'admin -->
<div class="bottom-nav" *ngIf="simpleUser==false">

  <div class="nav-item" routerLink="/nav/list-user" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <i class="icon">🏠</i>
    <span>Accueil</span>
  </div>

  <div class="nav-item" routerLink="/nav/create-user" routerLinkActive="active">
    <i class="icon">📄</i>
    <span>Utilisateurs</span>
  </div>

  <div class="nav-item" routerLink="/nav/profile" routerLinkActive="active">
    <i class="icon">⚙️</i>
    <span>Profil</span>
  </div>

</div>