<div class="home">
  <app-loader
  [loading]="loading"
  title="Chargement des donnees "
  subtitle="Veuillez patienter">
</app-loader>

  <!-- HEADER -->
  <div class="header py-4">
    <div class="top">
      <div>
        <p class="hello mt-4">BONJOUR</p>
        <p class="username">{{user?.username}}</p>
      </div>

      <div class="status" [ngClass]="{ online: isOnline, offline: !isOnline }">
        <span class="dot"></span>
        {{ isOnline ? 'En ligne' : 'Hors ligne' }}
      </div>
    </div>

    <div class="sales-card">
      <p>Ventes aujourd'hui</p>
      <h2>{{ totalJour | number}} FCFA</h2>
      <span>{{facture?.length}} factures</span>
    </div>
  </div>

  <!-- STATS -->
  <div class="stats">
    <div class="card">
      <div class="icon yellow">💰</div>
      <p>TOTAL FACTURES</p>
      <h5 class="mx-1">{{factures?.length}}</h5>
    </div>

    <div class="card">
      <div class="icon green">📈</div>
      <p>CHIFFRE D'AFFAIRES</p>
      <h5>{{ totalGeneral | number}} FCFA</h5>
    </div>
  </div>

  <!-- RECENTES -->
  <div class="recent">
    <div class="recent-header">
      <h3>Récentes</h3>
      <span class="mt-1" (click)="aller()">Tout voir</span>
    </div>

    <div class="recent-item mb-3" *ngFor="let f of facture">
      <div>
        <strong>{{f.nomClient}}</strong>
        <p>{{f.numeroFacture}} · {{f.dateFacture}}</p>
      </div>

      <div class="right">
        <strong> {{f.total | number }} FCFA</strong>
        <div class="sync">SYNCHRO</div>
      </div>
    </div>

    <div class="text-center py-5" *ngIf="facture?.length === 0">

      <p *ngIf="isOnline">
        Vous n'avez pas de facture disponible !
      </p>

    </div>

  </div>

  <!-- FLOAT BUTTON -->
  <button class="fab" (click)="add()">+</button>

</div>

<!-- NAV -->
<!-- <app-bottom-nav></app-bottom-nav> -->