<div class="home">

  <!-- HEADER -->
  <div class="header py-4">
    <div class="top">
      <div>
        <p class="hello mt-4">BONJOUR</p>
        <p class="username">bakdia194</p>
      </div>

      <div class="status">
        <span class="dot"></span>
        En ligne
      </div>
    </div>

    <div class="sales-card">
      <p>Ventes aujourd'hui</p>
      <h2>1 128 000 FCFA</h2>
      <span>2 factures</span>
    </div>
  </div>

  <!-- STATS -->
  <div class="stats">
    <div class="card">
      <div class="icon yellow">💰</div>
      <p>TOTAL FACTURES</p>
      <h5 class="mx-1">2</h5>
    </div>

    <div class="card">
      <div class="icon green">📈</div>
      <p>CHIFFRE D'AFFAIRES</p>
      <h5>1 128 000 FCFA</h5>
    </div>
  </div>

  <!-- RECENTES -->
  <div class="recent">
    <div class="recent-header">
      <h3>Récentes</h3>
      <span class="mt-1">Tout voir</span>
    </div>

    <div class="recent-item">
      <div>
        <strong>Idrissa Bah</strong>
        <p>F-2026-0002 · 21/04/2026</p>
      </div>

      <div class="right">
        <strong>93 000 FCFA</strong>
        <div class="sync">SYNCHRO</div>
      </div>
    </div>

  </div>

  <!-- FLOAT BUTTON -->
  <button class="fab">+</button>

</div>

<!-- NAV -->
<!-- <app-bottom-nav></app-bottom-nav> -->