<div class="page">
   <app-loader
  [loading]="loading"
  title="Chargement des donnees "
  subtitle="Veuillez patienter">
</app-loader>

  <!-- HEADER -->
  <div class="header py-4">
    <h3>Client</h3>

    <div class="search">
      <input type="text" placeholder="Rechercher client ou n°..."  [(ngModel)]="searchTerm"
    (input)="applyFilter()" />
    </div>
  </div>


  <!-- LIST -->
  <div class="list mt-3">
    <div class="item" *ngFor="let f of filteredUsers | paginate: { itemsPerPage: 8, currentPage: p }"  (click)="openDetail(f.id)">

      <div class="left">
        <div class="top">
          <strong>{{ f.nomClient }}</strong>
          <span class="badge">{{ f.numeroFacture }}</span>
        </div>

        <p>{{ f.adresse }}</p>
      </div>

      <div class="right">
        <strong>{{ f.telephone }} </strong>
      </div>

      <div>
        <span class="arrow">›</span>
      </div>

    </div>
    <div class="text-center py-5" *ngIf="clients?.length === 0">
        <p>Vous n'avez pas d'enregistrement disponible !</p>
    </div>
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>

</div>
