<div class="profile-page">
   <app-loader
  [loading]="loading"
  title="Chargement des donnees "
  subtitle="Veuillez patienter">
  </app-loader>

  <!-- HEADER -->
  <div class="header">
    <h2>Profil</h2>
    <p>{{ user?.username }}</p>
  </div>

  <!-- CARD -->
  <div class="card card-form">

    <h3>Entreprise</h3>

    <label>Nom de l'entreprise</label>
    <input type="text" [(ngModel)]="user.name">

    <label>Téléphone</label>
    <input type="text" [(ngModel)]="user.numero">

    <label>Adresse</label>
    <input type="text" [(ngModel)]="user.adresse">

    <label>Domaine</label>
    <input type="text" [(ngModel)]="user.domaine">

    <button class="save-btn" (click)="updateProfile()">💾 Enregistrer</button>

  </div>

   <!-- CARD 2 -->
  <div class="card card-info">
    <h3>☁️ Synchronisation</h3>
    <p>
      Vos factures sont enregistrées sur ce téléphone.
      Quand vous êtes en ligne, elles sont automatiquement copiées
      vers votre compte cloud — accessibles partout.
    </p>

    <button class="sync-btn">Synchroniser maintenant</button>
  </div>

  <!-- CARD 3 -->
  <div class="card card-info mb-3">
    <h4>🖨️ Imprimante Thermique</h4>
    <p>
      Pour l'impression, connecter votre téléphone Bluetooth
      à votre imprimante thermique (papier 58mm).
    </p>
  </div>

  <div class="card card-info mb-3">
    <h4>🖨️ Confidentialite</h4>
    <p>
      Gestion Facture protège les données de ses utilisateurs et utilise
       uniquement les informations nécessaires au fonctionnement de l’application. 
       Aucune donnée personnelle n’est vendue ou partagée à des tiers.
    </p>
  </div>

  <a
  class="whatsapp-contact"
  href="https://wa.me/22390675432?text=Bonjour%20je%20veux%20des%20informations%20sur%20Gestion%20Facture"
  target="_blank">

  💬 Assistance WhatsApp

</a>

  
     <div class="u-passw" (click)="changePasswordPopup()">
    <button > Modifier mot de passe</button>
  </div>
  <!-- LOGOUT -->
   
     <div class="logout" (click)="logout()">
    <button >⛔ Se déconnecter</button>
  </div>
</div>