<div class="profile-page">

  <!-- HEADER -->
  <div class="header">
    <h2>Profil</h2>
    <p>{{ user?.username }}</p>
  </div>

  <!-- CARD -->
  <div class="card card-form">

    <h3>Entreprise</h3>

    <label>Nom de l'entreprise</label>
    <input type="text" [(ngModel)]="user.name">

    <label>Téléphone</label>
    <input type="text" [(ngModel)]="user.numero">

    <label>Adresse</label>
    <input type="text" [(ngModel)]="user.adresse">

    <label>Domaine</label>
    <input type="text" [(ngModel)]="user.domaine">

    <button class="save-btn" (click)="updateProfile()">💾 Enregistrer</button>

  </div>

   <!-- CARD 2 -->
  <div class="card card-info">
    <h3>☁️ Synchronisation</h3>
    <p>
      Vos factures sont enregistrées sur ce téléphone.
      Quand vous êtes en ligne, elles sont automatiquement copiées
      vers votre compte cloud — accessibles partout.
    </p>

    <button class="sync-btn">Synchroniser maintenant</button>
  </div>

  <!-- CARD 3 -->
  <div class="card card-info mb-3">
    <h4>🖨️ Imprimante PT-210</h4>
    <p>
      Lors de l'impression, votre téléphone se connectera en Bluetooth
      à votre PT-210 (papier 58mm).
    </p>
  </div>
  <!-- LOGOUT -->
   
     <div class="logout" (click)="logout()">
    <button >⛔ Se déconnecter</button>
  </div>
</div>