.page {
  padding: 20px;
}

/* HEADER */
.header {
  background: linear-gradient(180deg, #162447, #1f3c6d);
  padding: 20px;
  color: white;
   margin-bottom: 60px;
   text-align: center;
}

.header h2 {
  margin-bottom: 10 px;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input, select, textarea {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
}

textarea {
  min-height: 80px;
}

.btn-create {
  margin-top: 10px;
  height: 45px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(135deg, #162a57, #1f3c88);
  color: white;
  font-weight: bold;
  cursor: pointer;
//   padding: 20px;
}